<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

* Data Science Ecosystems

# Introduction 
In this notebook, data science tools and ecosystems are summarized.

# Data Science 
3 most common languages 

1.Python

2.R

3.SQL

# Data Science Libraries 

1.Pandas

2.Matplotlib

3.Numphy

# Data science tools

|  Data Science Tools  |
_ _ _ _ _ _ _ _ _



  Jupyter Notebooks  


  R Studio           
 

  Apache Spark

*** Below are a few examples of evaluating arithmetic expressions in Python.

In [20]:
(3*4)+5

# simple arithmetic expression to multiply then add intergers

17

In [25]:
# create code cell to turn miniutes into hours 

print(200 / 6)

33.333333333333336

__Objectives 

-markdown cells
-code cells
-headings and ordered or unordered list

**Au